@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playwrite+AU+QLD:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap");

/* ---------- VARIABLES ---------- */
:root {
  /* COLORS */
  --primary-blue: #089da1;
  --text-gray: #676767;
  --netural-black: #000000;
  --netural-white: #ffffff;
  --featured-cards-name: #a1aabd;
  --dark-theme: #191d20;
  --titles-dark-theme: #ffffff;

  /* FONT SIZE */
  --icons-fs: 1.4rem;
  --nav-fs: 1.1rem;
  --featured-title-fs: 4rem;
  --featured-books-card-fs: 1.2rem;
  --john-deo-fs: 0.8rem;
  --category-fs: 0.9rem;
  --old-price-fs: 0.8rem;
}

/* ---------- GLOBAL DESIGN ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--netural-white);
}

.dark-theme {
  background: var(--dark-theme);

  --primary-blue: #089da1;
  --text-gray: var(--titles-dark-theme);
  --netural-black: var(--titles-dark-theme);
  --netural-white: var(--dark-theme);
  --featured-cards-name: var(--titles-dark-theme);
}

section {
  min-height: 80vh;
  padding: 10rem 7% 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.section-title {
  font-size: var(--featured-title-fs);
  color: var(--netural-black);
}

.learn-more {
  background: transparent;
  border: 2px solid var(--primary-blue);
  padding: 0.3rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 0.5rem;
  color: var(--netural-black);

  &:hover {
    background: var(--primary-blue);
    color: var(--netural-white);
    font-weight: 600;
    box-shadow: 1px 1px 5px var(--primary-blue);
  }
}

/* ---------- HEADER DESIGN ---------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 7%;
  background: var(--netural-white);
  z-index: 100;
  box-shadow: 0 2px 7px var(--primary-blue);
  margin-bottom: 2rem;

  .logo {
    width: 6rem;
    cursor: default;
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 1rem;

    .nav-links {
      position: relative;
      font-size: var(--nav-fs);
      color: var(--netural-black);

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -6px;
        width: 0;
        height: 2px;
        background: var(--primary-blue);
        transition: 0.3s;
      }

      &:hover::before {
        width: 100%;
        left: 0;
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: var(--icons-fs);
    color: var(--netural-black);
    font-weight: 900;
    cursor: pointer;

    & i:hover {
      color: var(--primary-blue);
    }

    .search-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    #searchInput {
      display: none;
      border: 1px solid var(--netural-black);
      border-radius: 10px;
      width: 15rem;
      height: 2rem;
      font-size: 1rem;
    }

    #searchInput.active {
      display: block;
    }

    .palette-wrapper {
      position: relative;
      display: inline-block;
    }

    #colorPicker {
      position: absolute;
      display: none;
      top: 120%;
      right: 0;
      cursor: pointer;
    }

    #colorPicker.active {
      display: block;
    }
  }

  .hamburger {
    display: none;
    color: var(--netural-black);
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 200;
    transition: 0.3s ease;

    &.active {
      display: flex;
    }

    .mobile-navbar {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      text-align: center;

      .nav-links {
        font-size: 2rem;
        color: var(--netural-black);
        text-decoration: none;
      }
    }

    #closeMenu {
      position: absolute;
      top: 25rem;
      right: 18.5rem;
      font-size: 3.5rem;
      color: var(--netural-black);
      cursor: pointer;
    }
  }
}

/* ---------- HERO DESIGN ---------- */
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("assets/image/reading.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 8rem 7% 2rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #fff;
    opacity: 0.88;
    z-index: 0;
  }

  .welcome {
    position: relative;
    z-index: 1;
    width: 50%;
    padding: 5rem;

    h1 {
      font-size: 4rem;
      font-weight: bold;
    }

    p {
      margin: 2rem 0;
      line-height: 1.5;
      color: #333;
    }
  }

  .books {
    position: relative;
    z-index: 1;
    width: 50%;
    text-align: center;

    .shelf-img {
      margin-top: -2rem;
      width: 100%;
      max-width: 280rem;
      z-index: 0;
      position: relative;
    }
  }
}

.btn {
  display: inline-block;
  background-color: var(--primary-blue);
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 0.4rem;
  font-weight: bold;
  transition: 0.3s;

  &:hover {
    background-color: teal;
  }
}
/* ---------- PROPERTIES DESIGN ---------- */
.properties {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 2rem 0;
  gap: 2rem;

  .card {
    background: #fff;
    border: 0.5rem solid rgba(32, 178, 170, 0.2);
    border-radius: 0.8rem;
    padding: 2rem;
    width: 100%;
    max-width: 32rem;
    text-align: center;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: 0.3s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2);
    }

    i {
      font-size: 4rem;
      color: var(--primary-blue);
      margin-bottom: 1.5rem;
    }

    h3 {
      margin: 1rem 0;
    }
  }
}

/* ---------- ABOUT DESIGN ---------- */
.about-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem 5rem;
  /* margin-top: -20rem; to lessen the space, but it ruins in the responsive part */
  .about-img {
    width: 50%;
    text-align: center;

    img {
      width: 100%;
      max-width: 100%;
    }
  }

  .about-text {
    width: 50%;
    padding: 2rem;

    h2 {
      font-size: 4.2rem;
      margin-bottom: 2rem;
    }

    p {
      line-height: 1.6;
      color: #333;
      margin-bottom: 2rem;
    }

    .btn {
      background-color: var(--primary-blue);

      &:hover {
        background-color: teal;
      }
    }
  }
}

/* ---------- FEATURED DESIGN ---------- */
.featured {
  .cards-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 9%;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    gap: 2.2rem;
    padding: 0 2rem 2rem;
    max-width: 130rem;

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-blue);
      border-radius: 4px;
    }

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #f0f0f0;
      border-radius: 4px;
    }

    .card {
      border: 1px solid var(--text-gray);
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        border: 1px solid var(--primary-blue);
        box-shadow: 1px 1px 5px var(--primary-blue);
      }

      .card-img {
        width: 7.5rem;
        margin: 0.6rem 2rem 0.5rem;
      }

      .featured-books {
        color: var(--netural-black);
        font-size: var(--featured-books-card-fs);
      }

      .John-Deo {
        color: var(--featured-cards-name);
        font-size: var(--john-deo-fs);
      }

      .category {
        display: inline-block;
        color: var(--primary-blue);
        font-size: var(--category-fs);
        padding: 0 2rem;
        margin-bottom: 0.3rem;
        text-align: center;
      }

      .price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 1.2;
      }

      .new-price {
        font-weight: bold;
      }

      .old-price {
        font-size: var(--old-price-fs);
        margin: -0.5rem 0 0.5rem 3.5rem;
        text-decoration: line-through;
      }

      .learn-more {
        margin-bottom: 0.6rem;
      }
    }
  }
}

/* ---------- ARRIVALS DESIGN ---------- */
.arrivals {
  .arrival-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 5.5rem;
    row-gap: 1.5rem;

    .arrival-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid var(--text-gray);
      padding: 0.5rem 3rem;
      cursor: pointer;
      transition: border 0.3s ease box-shadow 0.3s ease;
      overflow: hidden;

      &:hover {
        border: 1px solid var(--primary-blue);
        box-shadow: 1px 1px 5px var(--primary-blue);
      }

      .card-img-arrival {
        width: 8.5rem;
        margin-bottom: 0.4rem;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }

      .new-arrivals {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0.3rem;
        color: var(--netural-black);
      }

      .stars {
        margin-bottom: 0.3rem;
      }

      .bxs-star,
      .bxs-star-half {
        color: var(--primary-blue);
      }

      .arrival-btn {
        font-size: 0.9rem;
      }
    }
  }
}

/* ---------- REVIEWS DESIGN ---------- */
.reviews-section {
  .section-title {
    text-align: center;
    font-size: 5.2rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }

  .reviews {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 5rem auto;
    padding: 2rem;

    .review-card {
      background: #fff;
      border: 0.1rem solid var(--primary-blue);
      border-radius: 0.8rem;
      padding: 2rem;
      width: 100%;
      max-width: 30rem;
      text-align: left;
      box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05);
      transition: 0.3s;
      position: relative;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2);
      }

      img {
        width: 30%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 1.5rem;
      }

      h3 {
        margin: 1rem 0;
      }

      p {
        font-size: 1.4rem;
        color: #555;
        line-height: 1.5;
      }

      .stars {
        margin-top: 1rem;
        color: var(--primary-blue);

        i {
          margin: 0 0.2rem;
        }
      }
    }
  }
}

.digital-book {
  height: 40rem;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  background: url("assets/image/banner.jpg") no-repeat center center/cover;
  position: relative;
}

.digital-book .btn {
  background-color: var(--primary-blue);
  color: white;
  padding: 1.5rem 3rem;
  font-size: 1.4rem;
  border-radius: 0.4rem;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
  display: block;
  margin-top: 20rem;
  margin-left: 8rem;
}

.digital-book .btn:hover {
  background-color: teal;
}

/*
pre- photo realization:
.digital-book {
  height: 40rem;
  display: flex;
  align-items: center;
  padding: 5rem;
  background: url("assets/image/digital.png") no-repeat center center/cover;
  color: black;

  .overlay-text {
    width: 100%;
    max-width: 50rem;

    h2 {
      font-size: 4rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 2rem;
    }
  }
} */

/* ---------- BLOG DESIGN ---------- */
.blog {
  .blog-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10rem;

    .blog-card {
      box-shadow: 1px 1px 5px var(--text-gray);

      &:hover {
        background: var(--primary-blue);
        box-shadow: 0 0 4px 1px var(--primary-blue);

        .bloger {
          color: var(--netural-white);
        }

        .blog-paragraph {
          color: var(--netural-white);
        }

        .bxs-calendar,
        .blog-icons i:nth-child(2) {
          color: var(--netural-white);
        }
      }

      .card-img-blog {
        width: 27rem;
        height: 18rem;
        margin-bottom: 0.5rem;
        object-fit: cover;
      }

      .blog-padding {
        padding: 0 1rem 1rem;
      }

      .bloger {
        color: var(--primary-blue);
        margin-bottom: 0.5rem;
      }

      .blog-paragraph {
        max-width: 25rem;
        margin-bottom: 1rem;
        text-align: justify;
        line-height: 1.3;
        color: var(--netural-black);
      }

      .blog-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .bxs-calendar,
      .blog-icons i:nth-child(2) {
        color: var(--primary-blue);
      }
    }
  }
}

/* ---------- FOOTER DESIGN ---------- */
.footer {
  background: #f5f5f5;
  color: #333;
  padding: 5rem 2rem;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    max-width: 120rem;
    margin: auto;

    .footer-col {
      flex: 1;
      min-width: 22rem;
      margin: 2rem;

      .footer-logo {
        width: 100%;
        max-width: 15rem;
        margin-bottom: 1.5rem;
      }

      h4 {
        margin-bottom: 1.5rem;
        color: #000;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin: 0.8rem 0;

          a {
            color: #333;
            text-decoration: none;
            transition: 0.3s;

            &:hover {
              color: var(--primary-blue);
            }
          }
        }
      }

      p {
        margin: 0.8rem 0;
      }

      i {
        margin-right: 0.8rem;
        color: var(--primary-blue);
      }

      .social-icons {
        a {
          margin-right: 1rem;
          font-size: 2.2rem;
          color: var(--primary-blue);
          transition: 0.3s;

          &:hover {
            color: #000;
          }
        }
      }

      .newsletter {
        margin-top: 1rem;

        input {
          padding: 0.8rem;
          margin-bottom: 1rem;
          border-radius: 2rem;
          border: 0.1rem solid #ccc;
          width: 100%;
          max-width: 25rem;
          outline: none;
          background-color: lightgray;
        }

        button {
          padding: 0.8rem 1.5rem;
          border: none;
          border-radius: 2rem;
          background: var(--primary-blue);
          color: white;
          margin-left: 0.5rem;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            background: teal;
          }
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.4rem;
    color: #333;

    .brand {
      color: var(--primary-blue);
      font-weight: bold;
    }
  }
}

/* ---------- MEDIA QURIES ---------- */
/* IPAD PRO QUERIES */
@media (max-width: 102.5rem) {
  :root {
    --featured-title-fs: 3.5rem;
  }

  .featured {
    .cards-container {
      grid-auto-columns: minmax(12rem, 40%);
      gap: 1.5rem;
      max-width: 80rem;
    }
  }

  .arrivals {
    .arrival-container {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 3rem;

      & > :last-child:nth-child(3n + 1) {
        grid-column: 2;
      }

      .arrival-card {
        .card-img-arrival {
          width: 7rem;
        }

        .arrival-btn {
          font-size: 0.8rem;
        }
      }
    }
  }

  .blog {
    .blog-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 4.5rem;
      row-gap: 1.5rem;

      & > :nth-child(3) {
        grid-column: 1 / -1;
        justify-self: center;
      }
    }
  }
}

@media (max-width: 415px) {
  :root {
    --featured-title-fs: 2.5rem;
  }

  section {
    min-height: 0;
  }

  .header {
    .navbar {
      display: none;
    }

    .logo {
      width: 5rem;
    }

    .hamburger {
      display: block;
      font-size: var(--icons-fs);
      font-size: 2rem;
      font-weight: 900;
    }
  }

  .featured {
    .cards-container {
      max-width: 20rem;
    }
  }

  .arrivals {
    padding-top: 5rem;

    .arrival-container {
      grid-template-columns: 1fr;
      column-gap: 0;

      & > :last-child:nth-child(3n + 1) {
        grid-column: auto;
      }

      .arrival-card {
        padding: 0.3rem 1.5rem;

        .card-img-arrival {
          width: 10rem;
        }
      }
    }
  }

  .blog {
    .blog-container {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 1.5rem;
    }
  }
}

/*
IPAD PRO
*/
@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero .welcome,
  .hero .books {
    width: 100%;
    padding: 2rem;
  }

  .properties {
    flex-wrap: wrap;
  }

  .about-us {
    flex-direction: column;
    text-align: center;
  }

  .about-us .about-img,
  .about-us .about-text {
    width: 100%;
  }

  .reviews .review-card {
    max-width: 45%;
  }

  .digital-book {
    height: 25rem;
    background-size: contain;
    background-position: center;
  }

  .digital-book .btn {
    margin-top: 15rem;
    margin-left: 3rem;
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }
  .footer .footer-container {
    flex-wrap: wrap; /* to go downwards */
  }

  .footer .footer-col {
    flex: 1 1 45%;
    min-width: 22rem;
  }
}

/*
IPHONE XR
*/
@media (max-width: 415px) {
  .hero h1 {
    font-size: 2.4rem;
  }

  .properties {
    flex-direction: column;
  }

  .reviews .review-card {
    max-width: 100%;
  }

  .footer .footer-container {
    flex-direction: column;
    text-align: center;
  }
  .digital-book {
    height: 20rem;
    background-size: contain;
    background-position: center;
  }

  .digital-book .btn {
    margin-top: 6rem;
    margin-left: -2rem;
    font-size: 0.8rem;
    padding: 0.8rem 1.5rem;
  }
}
